{% extends "base.html" %}

{% block content %}
 <form action="" method="POST">
     <div class="form-group">
         <label for="classSelect">Оцените сайт:</label>
            <select class="form-control" id="educationSelect" name="education">
                <option>&#128078;</option>
                <option>&#128528;</option>
                <option>&#128077;</option>
            </select>
         </div>

    <a style="color:white;font-size: 20px;" href="http://127.0.0.1:8080/thanks">Отправить</a>

 </form>

{% endblock %}